In [11]:
import pandas as pd
import numpy as np
from oop_functions import Collection

In [17]:
df = pd.read_excel('datasets/month_followup.xlsx', converters={'MRN': str}, parse_dates=['Order Date', 'Last ED Visit'])
template = pd.read_csv("import_template.csv")
# df = Collection(df, template)
# df.export_data(output_path='test123.csv', event_name="test")
df.columns = df.columns.str.lower() #lowercase
df.columns = df.columns.str.replace('(','').str.replace(')','') #remove parenthesis
df.columns = df.columns.str.replace(' ','_').str.lower() #remove whitespace
df = df.rename(columns = {"#":"number"}) # the "#" symbol doesn't play well with python, rename to "number"
df.loc[:10].to_excel('datasets/df1.xlsx')
df.loc[9:20].to_excel('datasets/df2.xlsx')

df1 = pd.read_excel('datasets/df1.xlsx', converters={'mrn': str}, parse_dates=['order_date'])
df2 = pd.read_excel('datasets/df2.xlsx', converters={'mrn': str}, parse_dates=['order_date'])
roster = df1.reindex(columns=['mrn', 'order_date', 'ed_visits-last_30_days', 'check_meds'])
roster.to_excel('test_roster.xlsx')

collect = Collection(df2, template, roster_path='test_roster.xlsx', event= 'initial_collection_arm_1')

df3 = df.loc[20:30]
collect = Collection(df, template, roster_path='test_roster.xlsx', event= 'initial_collection_arm_1')

Roster update complete: 10 new patients added
Roster update complete: 1029 new patients added

In [19]:
collect.prepared_data["vascular_history___3"].sum()

9.0

In [25]:

reindex_df = collect.clean_df.reindex(columns=['mrn', 'order_date', 'ed_visits-last_30_days'])
reindex_df["check_meds"] = collect.prepared_data.current_medications_complete.replace(2, np.NaN)
# reindex_df["dvt"] = collect.prepared_data.current_medications_complete.replace(2, np.NaN)
#reindex_df["dvt"] = collect.prepared_data.vascular_history___3.where(s > 1, collect.prepared_data.vascular_history___3)
reindex_df["dvt"] = collect.prepared_data.vascular_history___3
new_roster = pd.concat([collect.mrn_roster, reindex_df], ignore_index=True)
new_roster.to_csv('test.csv')

In [10]:
pd.read_excel('test_roster.xlsx').tail(50)

    Unnamed: 0      mrn order_date  ed_visits-last_30_days  check_meds
0            0  1401969 2021-10-12                       1         NaN
1            1  6683404 2021-10-12                       0         NaN
2            2  8181716 2021-10-12                       0         NaN
3            3  1438091 2021-10-12                       0         NaN
4            4  8181900 2021-10-12                       0         NaN
5            5   601481 2021-10-12                       1         NaN
6            6  1510326 2021-10-12                       0         NaN
7            7  6223307 2021-10-12                       0         NaN
8            8  7310498 2021-10-12                       0         NaN
9            9  6960761 2021-10-12                       0         NaN
10          10  6960201 2021-10-12                       3         NaN
11          11  8171897 2021-10-12                       0         NaN
12          12  8178005 2021-10-12                       0         NaN
13          13  7941837 2021-10-12                       0         NaN
14          14  6219221 2021-10-12                       0         NaN
15          15  7341875 2021-10-12                       0         NaN
16          16  8164212 2021-10-12                       0         NaN
17          17  8179967 2021-10-12                       0         NaN
18          18  7768370 2021-10-12                       0         NaN
19          19  7565969 2021-10-12                       0         NaN
20          20  8180370 2021-10-12                       0         NaN
21          21  8180591 2021-10-12                       0         NaN
22          22  7515901 2021-10-12                       0         NaN
23          23  6561410 2021-10-12                       0         NaN
24          24  8099995 2021-10-12                       0         NaN
25          25  7764204 2021-10-12                       0         NaN
26          26  7798033 2021-10-12                       0         NaN
27          27  7741506 2021-10-12                       0         NaN
28          28  6952969 2021-10-12                       0         NaN

In [12]:
collect.prepared_data

,record_id,redcap_event_name,first_name,last_name,mrn,dob,sex,demographics_complete,date_of_covid_19_test,result,...,anticoagulation_treatment,date_of_anticoagulation_tr,dosing_and_route_of_antico,type_of_anticoagulation_tr,other_anticoagulant_treame,mortality,date_of_mortality,cause_of_death,cause_of_death1,post_covid_interventions_and_procedures_complete
21,NaN,NaN,NaN,NaN,08180591,1994-03-01,1,NaN,2021-10-12,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,07515901,1990-02-20,2,NaN,2021-10-12,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,06561410,2004-05-21,2,NaN,2021-10-12,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,08099995,2009-01-14,2,NaN,2021-10-12,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,07764204,2016-04-11,1,NaN,2021-10-12,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1161,NaN,NaN,NaN,NaN,06406365,2009-09-22,2,NaN,2021-09-12,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1163,NaN,NaN,NaN,NaN,06114015,2003-06-27,2,NaN,2021-10-01,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1165,NaN,NaN,NaN,NaN,00818853,1984-01-08,1,NaN,2021-09-16,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1169,NaN,NaN,NaN,NaN,06752631,1970-02-05,1,NaN,2021-10-07,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1177,NaN,NaN,NaN,NaN,07711776,1980-10-03,2,NaN,2021-10-03,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN